.background-img {
  z-index: -5;
  max-width: 55%;
  max-height: auto;
  position: fixed;
}

.change{
  text-shadow: 1px 1px whitesmoke;
}

@media only screen and (max-width: 1000px) {
  .background-img {
    padding-top: 0%;
    z-index: -5;
    max-width: 95%;
    max-height: auto;
    position: fixed;
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-text {
  padding-top: 4%;
  padding-right: 4%;
}

.profile-image {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  object-fit: cover;
}

.profile-image img {
  border-radius: 50%;
  position: relative;
  min-width: 30%;
  min-height: auto;
  max-width: 35%;
  max-height: auto;
  object-fit: cover;
}

/* Home Page Links */

.homepage-links {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home-icon {
  height: 2.4rem;
  width: 2.4rem;
  transition: all 0.4s ease-in-out;
}

.home-icon:hover {
  filter: invert(44%) sepia(93%) saturate(1326%) hue-rotate(320deg)
    brightness(81%) contrast(122%);
}
