.App {
  text-align: center;
  padding: 2%;
  height: 100vh;
  width: auto;
  background: rgb(214, 214, 221);
  background: linear-gradient(
    0deg,
    rgba(214, 214, 221, 1) 2%,
    rgba(255, 255, 255, 1) 89%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-image {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  object-fit: cover;
}

.profile-image img {
  border-radius: 50%;
  position: relative;
  min-width: 35%;
  min-height: auto;
  max-width: 35%;
  max-height: auto;
  object-fit: cover;
}

.about-description {
  max-width: 50%;
  flex-basis: 10%;
  align-self: center;
  flex-wrap: nowrap;
  font-size: 1rem;
}

/* Home Page Links */

.homepage-links {
  margin-top: 1%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home-icon {
  height: 2rem;
  width: 2rem;
  /* filter: sepia(0.5) invert(10) saturate(100) hue-rotate(-50deg); */
  transition: all 0.4s ease-in-out;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.home-icon:hover {
  animation: shake 0.7s cubic-bezier(0, 0, 0, 0) both;
  /* transform: scale(1.2);  */
  /* filter: sepia(0.7) invert(0) saturate(100) hue-rotate(-50deg); */
}
