
.welcome-page {
  animation: fadeinout 5s linear 1 forwards;
  background-color: whitesmoke;
  height: 110vh;
  width: 100vw;
  z-index: 5;
  position: fixed;
  text-align: center;
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.background-img {
  z-index: -5;
  max-width: 55%;
  max-height: auto;
  position: fixed;
  opacity: 0.58;
}

.change {
  text-shadow: 1px 1px whitesmoke;
}

@media only screen and (max-width: 1000px) {
  .background-img {
    padding-top: 0%;
    z-index: -5;
    max-width: 95%;
    max-height: auto;
    position: fixed;
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-text {
  padding-top: 4%;
  padding-right: 4%;
}

.profile-image {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  object-fit: cover;
}

.profile-image img {
  border-radius: 50%;
  position: relative;
  min-width: 30%;
  min-height: auto;
  max-width: 35%;
  max-height: auto;
  object-fit: cover;
  opacity: 0.99;
}

/* Home Page Links */

.homepage-links {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home-icon {
  height: 2.4rem;
  width: 2.4rem;
  transition: all 0.4s ease-in-out;
}

.home-icon:hover {
  filter: invert(77%) sepia(29%) saturate(4733%) hue-rotate(305deg)
    brightness(113%) contrast(85%);
}



@media (max-width: 768px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce-page[class*="columns-"] ul.products li.product,
  .woocommerce[class*="columns-"] ul.products li.product {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 7em;
  }
}



.snow-bg {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("./Assets/Images/sakura-1-1.png"),
    url("./Assets/Images/sakura-2.png");
  animation: snow 20s linear infinite;
  background-attachment: fixed;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
