html * {
  max-width: 100%;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(214, 214, 221);
  background: linear-gradient(
    0deg,
    rgb(152, 152, 158) 2%,
    rgba(255, 255, 255, 1) 89%
  );
  background-attachment: fixed;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
